/*----------------------------------------------
     N A V B A R     S T Y L I N G
-----------------------------------------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: inset 0px 3rem 2.5rem  var(--main-shadow-color);
    background-color: var(--main-trans-color);
}

.logo{
    font-size: 2.5rem;
    color:var(--text-color);
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 1.7rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 450;
    margin-left: 4rem;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: var(--bg-color);
}

/*-----------------------------------------
      H O M E    S T Y L I N G
------------------------------------------*/
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width:  600px;
    z-index: 2;
}

.home-content h3 {
    opacity: 0;
    animation: slideBottom .5s ease forwards;
    animation-delay: .7s;
}

/*Adds animations to every h3 within the home-content section*/
.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
    animation: slideTop .5s ease forwards;
    animation-delay: .7s;
}

.home-content h1 {
    margin: -3px 0;
    opacity: 0;
    animation: slideRight .5s ease forwards;
    animation-delay: .1s;
}

.home-content p {
    opacity: 0;
    animation: slideLeft .5s ease forwards;
    animation-delay: .5s;
}

/*TODO INSIDE*/
.home-img img{
    width: 29vw;
    margin-right: -20px;
    filter: drop-shadow(0 0 20px var(--main-color));
    opacity: 0;
    /*TODO: ADD ANIMATION TO IMAGE*/
}

/*Ignore for now*/
/*.down-arrow {
    position: absolute;
    top: 97%;
    left: 50%;
    background: transparent;
    filter: drop-shadow(0 0 10px var(--main-color));
    font-size: 30px;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: 1s;
}*/

/*TODO INSIDE*/
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    /*TODO: STYLE THE ICONS*/
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    /*Adds the glow effect*/
    /*box-shadow: 0 0 2rem var(--main-color);*/
}

/*----------------------------------------
     B U T T O N     S T Y L I N G
------------------------------------------*/
.btn {
    display: inline-block;
    text-justify: center;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    color: var(--second-bg-color);
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: 1.5s;
}

/*---------------------------------------------
        A B O U T      S T Y L I N G
----------------------------------------------*/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
    background-color: var(--second-bg-color);
}
.about-img{
    width: 35vw;
}

.heading{
    text-align: center;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem ;
}

/******************************************************
                    S   K   I   L   L   S   
*******************************************************/

.skills h2 {
    margin-bottom: 5rem;
    font-size: 4rem;
}
.skills i {
   font-size: 4rem;
}
.skills li {
    font-size: 1.4rem;
}
/*TODO: SET UP SKILLS CONTAINER*/
.skills-container{
}

.skills-container .skills-box{
    flex:1 1 30rem;
    background:var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
}

.skills-box #education li{
    text-align: left;
    margin-left: 5rem;
}