/*---------------------------------------------------
                P R O J E C T S
-----------------------------------------------------*/
.work{
    width: 100%;
    background: var(--second-bg-color);
    padding: 5rem 5% 2rem ;
}

.portfolio-header{
    margin-bottom: 5rem;
}

/*SWIPER SYLING*/
.swiper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: -5rem;
}

.swiper-slide {
}

.swiper-slide img {
}

/*Increase the size of the image*/
.swiper-slide-visible.swiper-slide-active:hover img{
    transform: scale(1.1);
}

/*Slide the project layer up*/
.swiper-slide-visible.swiper-slide-active:hover .project-layer{
    /*Translate the Y 0% because we initalize the y-position
    below the swiper*/
    transform: translateY(0%);
}

.project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.56), rgb(122, 53, 11));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    /*Hide the project layer from view until the player hovers over it*/
    transform: translateY(100%);
    transition: .5s ease;
}

/*Font size for the project layer*/
.project-layer p{
    font-size: 2rem;
    margin: .3rem 0 1rem;
}

/*TODO inside*/
.project-layer a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    /*TODO: SET THE BACKGROUND COLOR AND RADIUS*/
}

.project-layer a i{
    font-size: 2rem;
    background: transparent;
}

/**********************************************
        C   O   N   T   A   C   T
***********************************************/
.contact h2{
    margin-bottom: 3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    background: var(--second-bg-color);
    font-size: 1.6rem;
    color: var(--text-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
/*TODO: DISABLE RESIZING THE TEXT AREA*/
/*.contact form textarea {
    resize: none;
}*/
.contact form .btn {
    margin: 2rem;
    cursor: pointer;
}

/************************************************
            F   O   O   T   E   R
************************************************/
.footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}
.footer-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-icon a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-icon a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}